################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPAM.PlaywrightFW/EPAM.PlaywrightFW/obj
/EPAM.PlaywrightFW/.vs
/EPAM.PlaywrightFW/EPAM.PlaywrightFW.Common/obj
/.vs
/EPAM.PlaywrightFW/EPAM.PlaywrightFW/bin/Debug/net6.0
/EPAM.PlaywrightFW/EPAM.PlaywrightFW.Common/bin/Debug/net6.0
/EPAM.PlaywrightFW/packages
/EPAM.PlaywrightFW/UnitTestProject2/bin/Debug
/EPAM.PlaywrightFW/UnitTestProject2/obj/Debug
/EPAM.PlaywrightFW/EPAM.Playwright.Test/bin/Debug/net6.0
/EPAM.PlaywrightFW/EPAM.Playwright.Test/obj
/EPAM.PlaywrightFW/SpecFlowTestProject/bin/Debug/net6.0
/EPAM.PlaywrightFW/SpecFlowTestProject/obj
/EPAM.PlaywrightFW/EPAM.Playwright.Test/bin/Debug
/EPAM.Playwright.Test/bin/Debug
/EPAM.Playwright.Test/obj
/EPAM.PlaywrightFW/bin/Debug/net6.0
/EPAM.PlaywrightFW.Common/bin/Debug/net6.0
/EPAM.PlaywrightFW.Common/obj
/SpecFlowTestProject/bin/Debug/net6.0
/SpecFlowTestProject/obj
/packages
/UnitTestProject2/bin/Debug
/UnitTestProject2/obj/Debug
/playwrightFW/.vs
/playwrightFW/EPAM.Playwright.Test/obj
/playwrightFW/EPAM.PlaywrightFW/obj/Release/net6.0
/playwrightFW/SpecFlowTestProject/obj
/playwrightFW/EPAM.PlaywrightFW.Common/obj
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/MyProjects.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/batches.meta
/Utils/Python/Modules/Pytorch/data/cifar-10-python.tar.gz
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/data_batch_1
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/data_batch_2
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/data_batch_3
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/data_batch_4
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/data_batch_5
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/readme.html
/Utils/Python/Modules/Pytorch/data/cifar-10-batches-py/test_batch
